/* GENERAL */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #ffffff;
}

/* LAYOUT */

/* TYPOGRAPHY */
h2 {
  font-size: 14px;
}



/* APPLICATION */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* MAIN CONTENT */
.app .main-content {
  display: flex;
  flex-grow: 1;
}

/* SIDEBAR */
.main-content .sidebar {
  background-color: #000000;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  flex-basis: 220px;
}

.main-content .sidebar .sidebar-top {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* LOGO */
.sidebar .sidebar-top .logo {
  padding: 20px 20px 20px 0;
}

.sidebar .sidebar-top .logo img:first-child {
  width: 37px;
  max-width: 100%;
  display: none;
}

.sidebar .sidebar-top .logo img:last-child {
  width: 125px;
  max-width: 100%;
}

/* NAVBAR-1 */
.sidebar .sidebar-top .navbar-1 {
  margin-bottom: 20px;
}

.sidebar .sidebar-top .navbar-1 ul {
  font-size: 13px;
  list-style: none;
  line-height: 2.7;
}

.sidebar .sidebar-top .navbar-1 ul li:first-child {
  border-left: 3px solid #acfe2e;
  position: relative;
  right: 20px;
  padding-left: 17px;
}

.sidebar .sidebar-top .navbar-1 ul li img {
  width: 25px;
  vertical-align: middle;
  filter: invert(0.5);
  cursor: pointer;
}

.sidebar .sidebar-top .navbar-1 ul li:hover img {
  filter: invert(0.1);
}

.sidebar .sidebar-top .navbar-1 a {
  text-decoration: none;
  color: #494949;
}

.sidebar .sidebar-top .navbar-1 ul li:hover a {
  color: #ffffff;
}

/* NAVBAR-2 */
.sidebar .sidebar-top .navbar-2 h2 {
  text-transform: uppercase;
}

/* ACCOUNT */
.main-content .sidebar .account {
  flex-basis: 50px;
}

/* CONTENT */
.main-content .content {
  position: relative;
  flex-grow: 1;
}

.main-content .content .top-content {
  background: rgba(189, 195, 199, .5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 1;
}

.content .top-content .content-box {
  background-color: rgba(255, 192, 203, .5);
  width: 200px;
  height: 40px;
}

.main-content .content .scrollable {
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
}

.content .scrollable .menu {
  margin: 20px 25px;
}

.content .scrollable .menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.content .scrollable .menu ul li {
  margin: 0 10px;
}

.content .scrollable .menu ul li a {
  text-decoration: none;
}

.content .scroll-menu h2 {
  margin: 10px 0;
}


.content .scroll-menu .list-scroll1,
.content .scroll-menu .list-scroll2,
.content .scroll-menu .list-scroll3 {
  display: flex;
}

.scroll-menu .list {
  width: 200px;
  height: 200px;
  background: blue;
  margin: 10px 5px;
}

.content .scroll-menu .list-scroll1 {
  flex-wrap: wrap;
}

/* FOOTER */
footer {
  flex-basis: 100px;
  display: flex;
  flex-direction: row;
}

footer .singer {
  background-color: green;
  flex-basis: 200px;
}

footer .player {
  background-color: violet;
  flex-grow: 1;
}

footer .icons {
  background-color: yellow;
  flex-basis: 200px;
}
